
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body{
    margin: auto;
    font-family: 'Poppins', sans-serif;
    background-color: #f1eeee;
}
/* Header Part  */
.container{
    background-color: #2D25A0;
    display: flex;
    justify-content: center;
    padding: 50px 0;
}
.half-width{
    width: 50%;
}
.program{
    margin-top:60px;
}
h1{
    font-size:64px;
    margin: 0 100px;
    margin-bottom: 10px;
    color: #fff;
    
}
a{
    text-decoration: none;
    margin-left:  100px;
    color: #fff;
    background-color: #E02C6D;
    padding: 7px 15px;
    border-radius:2px;
}
.half-width img{
    width: 80%;
}

/* Player Part */

.players{
    padding-top:50px;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-evenly;
    justify-items: center;
   
}
.player{
    align-items: center;
    width: 330px;
    height: 474px;
    background-color: #fff;
    text-align: center;
    margin-top: 25px;
    padding-top: 15px;
    box-shadow: 5px 5px 5px  rgb(197, 194, 194);
}
.player img{
    width: 300px;
    height:256px;
}
/* Highlight Part  */
p,h2{
    text-align:left;
    padding:0 15px;
}
.highlight{
    background-color:#f1eeee;
    margin: 0 50px;
    
}
.highlight h2{
    font-size: 48px;
    line-height:64x;
    margin-bottom: 0;
    margin-top: 100px;
    color: #0A0826;

}
.highlight p{
    color: #6C6C6C;
    margin-bottom:20px;
    margin-right: 150px;
}
.highlight a{
    margin-left: 10px;
}
.highlight img{
    width:100%;
}
/* Gallary Photo */
.photos h1{
    color: #2D25A0;
}
.photo{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: space-evenly;
    justify-items: center;
    
}
.photo img{
    width: 300px;
    margin-top:50px;
}
/* About us section */

.about-us{
    display: flex;
    margin-bottom: 100px;
}
.about-us h1{
    color: #2D25A0;
}
#contact{
    margin: 0px;
}
/* Footer area */

footer{
    text-align: center;
    margin-top:100px;
    
}
.footer img{
    width: 30%;
    margin-bottom: 20px;
}
.fab{
    font-size: 20px;
    padding:10px;
    margin: 10px;
    border: 1px solid gainsboro;
    border-radius: 50%;
    background-color: gainsboro;
    color: gray;
}
.footer p{
    text-align: center;
    font-size: 20px;
}

